In [37]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #We need this to split the data
from sklearn.neighbors import KNeighborsClassifier #the object class we need
from sklearn.metrics import confusion_matrix

In [38]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,NaN

Inspect the data set. There are 5 columns which contain ‘easy to work with’ qualitative or quantitative variables. Which are they? Select these.

In [39]:
dummies = pd.get_dummies(df["Sex"])
df = pd.concat([df,dummies], axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin,female,male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,NaN,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,NaN,0,1

In [40]:
df_subset = df[['Survived','Pclass','Age','male', 'SibSp', 'Parch']]

In [41]:
df_subset = df_subset.dropna()
df_subset.head()

   Survived  Pclass   Age  male  SibSp  Parch
0         0       3  22.0     1      1      0
1         1       1  38.0     0      1      0
2         1       3  26.0     0      0      0
3         1       1  35.0     0      1      0
4         0       3  35.0     1      0      0

je doet het dropna gedeelte later omdat bij de cabin heel veel info gemist wordt en je anders veel data verliest terwijl dat niet nodig is

In [42]:
y = df_subset['Survived']
X = df_subset.loc[:,'Pclass':'Parch']  
X.head()

   Pclass   Age  male  SibSp  Parch
0       3  22.0     1      1      0
1       1  38.0     0      1      0
2       3  26.0     0      0      0
3       1  35.0     0      1      0
4       3  35.0     1      0      0

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [44]:
knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

0.7953488372093023

79% of survived is predicted accurately. So, I guess it is good.

In [45]:
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[111,  23],
       [ 21,  60]])

In [47]:
conf_matrix = pd.DataFrame(cm, index=['NotSurvived', 'Survived',], columns = ['NotSurvived_p', 'Survived_p']) 
conf_matrix

             NotSurvived_p  Survived_p
NotSurvived            111          23
Survived                21          60

In [49]:
accuracy = (111+60)/(111+21+23+60)
accuracy

0.7953488372093023

In [50]:
precision = (111)/(111+23)
precision

0.8283582089552238

In [51]:
recall = (111)/(111+21)
recall

0.8409090909090909